@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}